In [1]:
import sys


sys.path.append('../')

In [2]:
import pandas as pd
from ast import literal_eval
from utils import specializations


task = 'Primary specializations review'
column = 'primary_specializations'
column_by_review = 'reviewed_' + column

evaluate_file = './data/' + task + '.csv'
evaluate_df = pd.read_csv(
    evaluate_file,
    converters={
        column: literal_eval,
        column_by_review: literal_eval,
    },
)

normalize = lambda row: set([spec['id'] for spec in row if spec['score'] >= 40])
spec = evaluate_df[column].apply(normalize)
spec_by_review = evaluate_df[column_by_review].apply(normalize)

find_common = lambda set1, set2: set1.intersection(set2)
common_spec = spec.combine(spec_by_review, find_common)

spec_to_count = [spec, spec_by_review, common_spec]
count = []
for item in spec_to_count:
    item = item.astype(str)
    total = []
    for spec in specializations:
        num = item.str.count(spec).sum()
        total.append(num)
    count.append(total)

count = list(map(list, zip(*count)))
print(count)

[[61, 52, 41], [17, 16, 15], [47, 37, 36], [5, 5, 4], [0, 0, 0], [1, 1, 1], [23, 15, 15], [10, 8, 8], [16, 11, 10], [11, 6, 6], [0, 0, 0], [15, 12, 12], [2, 2, 2], [4, 6, 4], [0, 0, 0], [2, 2, 2], [9, 6, 6], [4, 3, 3], [13, 10, 10], [5, 4, 4], [12, 4, 4], [27, 24, 19], [9, 7, 7], [2, 2, 2], [4, 3, 3], [7, 3, 3], [2, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], [2, 1, 1], [1, 0, 0], [1, 0, 0], [1, 0, 0], [0, 0, 0], [0, 0, 0], [9, 5, 4], [0, 0, 0], [0, 0, 0], [1, 1, 1], [0, 0, 0], [0, 0, 0]]

In [3]:
results = pd.DataFrame(
    count,
    columns=['retrieved_instances', 'relevant_instances', 'relevant_retrieved_instances'],
    index=specializations,
)

results['precision'] = results['relevant_retrieved_instances'] / results['retrieved_instances']
results['recall'] = results['relevant_retrieved_instances'] / results['relevant_instances']

results

,retrieved_instances,relevant_instances,relevant_retrieved_instances,precision,recall
backend_engineer,61,52,41,0.672131,0.788462
frontend_engineer,17,16,15,0.882353,0.937500
full_stack_engineer,47,37,36,0.765957,0.972973
mobile_engineer,5,5,4,0.800000,0.800000
blockchain_engineer,0,0,0,NaN,NaN
platform_engineer,1,1,1,1.000000,1.000000
data_engineer,23,15,15,0.652174,1.000000
ml_engineer,10,8,8,0.800000,1.000000
data_scientist,16,11,10,0.625000,0.909091
data_analyst,11,6,6,0.545455,1.000000
quant_engineer,0,0,0,NaN,NaN
devops_engineer,15,12,12,0.800000,1.000000
sre_engineer,2,2,2,1.000000,1.000000
cloud_engineer,4,6,4,1.000000,0.666667
build_release_engineer,0,0,0,NaN,NaN
automation_engineer,2,2,2,1.000000,1.000000
sys_admin,9,6,6,0.666667,1.000000
security_engineer,4,3,3,0.750000,1.000000
qa_engineer,13,10,10,0.769231,1.000000
dba,5,4,4,0.800000,1.000000
systems_engineer,12,4,4,0.333333,1.000000
engineering_manager,27,24,19,0.703704,0.791667
software_architect,9,7,7,0.777778,1.000000
ui_ux_engineer,2,2,2,1.000000,1.000000
embedded_engineer,4,3,3,0.750000,1.000000
firmware_engineer,7,3,3,0.428571,1.000000
desktop_engineer,2,0,0,0.000000,NaN
bios_engineer,0,0,0,NaN,NaN
ar_vr_engineer,0,0,0,NaN,NaN
iot_engineer,0,0,0,NaN,NaN
quantum_engineer,0,0,0,NaN,NaN
graphics_engineer,2,1,1,0.500000,1.000000
image_processing_engineer,1,0,0,0.000000,NaN
video_processing_engineer,1,0,0,0.000000,NaN
game_engineer,1,0,0,0.000000,NaN
unity_engineer,0,0,0,NaN,NaN
unreal_engineer,0,0,0,NaN,NaN
sales_engineer,9,5,4,0.444444,0.800000
nocode_engineer,0,0,0,NaN,NaN
sap_engineer,0,0,0,NaN,NaN
salesforce_engineer,1,1,1,1.000000,1.000000
servicenow_engineer,0,0,0,NaN,NaN
workday_engineer,0,0,0,NaN,NaN

In [ ]:
results.to_csv('results.csv')